const web3 = {
    eth: {
        privateKey: "",//random private key
        gateway: "https://n105.recheck.io",
        contractAddress: "",
        addressReadWrite: "",
        defaultGasPrice: 0,
        contractAbi: require("../contracts/ETHContractAbi.js").contractAbi,
        addressPrefix: "0x"
    },
    ethBeta: {
        privateKey: "",//random private key
        gateway: "https://n105.recheck.io",
        contractAddress: "",
        addressReadWrite: "",
        defaultGasPrice: 0,
        contractAbi: require("../contracts/ETHContractAbi.js").contractAbi,
        addressPrefix: "0x"
    },
    poly: {
        privateKey: "",//random private key
        gateway: "https://rpc-mainnet.maticvigil.com/v1/34b26294a1edd25d8236d397fa2194a5a6835e52",
        contractAddress: "",
        addressReadWrite: "",
        defaultGasPrice: 0,
        contractAbi: require("../contracts/POLYContractAbi.js").contractAbi,
        addressPrefix: "0x"
    },
    polyBeta: {
        privateKey: "",//random private key
        gateway: "https://rpc-mumbai.maticvigil.com/v1/34b26294a1edd25d8236d397fa2194a5a6835e52",
        contractAddress: "",
        addressReadWrite: "",
        defaultGasPrice: 0,
        contractAbi: require("../contracts/POLYContractAbi.js").contractAbi,
        addressPrefix: "0x"
    },
    avax: {
        privateKey: "",//random private key
        gateway: "",
        contractAddress: "",
        addressReadWrite: "",
        defaultGasPrice: 0,
        contractAbi: require("../contracts/AVAXContractAbi.js").contractAbi,
        addressPrefix: "0x"
    },
    avaxBeta: {
        privateKey: "",//random private key
        gateway: "http://ec2-18-202-240-12.eu-west-1.compute.amazonaws.com:9650/ext/bc/22ofZGVM8zgpoDHSsCk1qKTUcXJEnxvEAJV6HnQz8o4ev9QE7k/rpc",
        contractAddress: "0x5A262D72372D461A86027D4F6799583F52Ac7b93",
        addressReadWrite: "0x5A262D72372D461A86027D4F6799583F52Ac7b93",
        defaultGasPrice: 0,
        contractAbi: require("../contracts/AVAXContractAbi.js").contractAbi,
        addressPrefix: "0x"
    },
    ae: {
        publicKey: "",//random private key
        privateKey: "",
        gateway: "https://sdk-mainnet.aepps.com",
        contractPath: require("../contracts/AEContract.js").default,
        compiler: "https://compiler.aepps.com",
        addressReadWrite: "",
        defaultGas: 0,
        defaultGasPrice: 0,
        networkId: "ae_mainnet",
        ttl: 55,
        addressPrefix: "ak_"
    },
    aeBeta: {
        publicKey: "",//random private key
        privateKey: "",
        gateway: "https://sdk-testnet.aepps.com",
        contractPath: require("../contracts/AEBetaContract.js").default,
        compiler: "https://compiler.aepps.com",
        addressReadWrite: "",
        defaultGas: 0,
        defaultGasPrice: 0,
        networkId: "ae_uat",
        ttl: 55,
        addressPrefix: "ak_"
    },
    near: {
        accountId: "",
        publicKey: "",
        privateKey: "",//random private key
        gateway: 'https://rpc.testnet.near.org',
        contractMethods: require("../contracts/NearContractMethods.js").contractMethods,
        addressReadWrite: 'dev-1662639452404-10898395212017',
        defaultGas: undefined,
        networkId: "testnet",
        addressPrefix: ''
    },
    nearBeta: {
        accountId: "",
        publicKey: "",
        privateKey: "",//random private key
        gateway: 'https://rpc.testnet.near.org',
        contractMethods: require("../contracts/NearContractMethods.js").contractMethods,
        addressReadWrite: 'dev-1662639452404-10898395212017',
        defaultGas: undefined,
        networkId: "testnet",
        addressPrefix: ''
    }
};

export default web3;
